@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), 
    url('../fonts/roboto-v29-latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), 
    url('../fonts/roboto-v29-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/fredoka-one-v8-latin-regular.woff2') format('woff2'), 
    url('../fonts/fredoka-one-v8-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-regular.woff2') format('woff2'), 
    url('../fonts/hind-madurai-v6-latin-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-500.woff2') format('woff2'), 
    url('../fonts/hind-madurai-v6-latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-600.woff2') format('woff2'),
    url('../fonts/hind-madurai-v6-latin-600.woff') format('woff');
}
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-700.woff2') format('woff2'),
    url('../fonts/hind-madurai-v6-latin-700.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.red {
    color: #D23166;;
    opacity: 0.9;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* HEADER */

.header {
    background: #F2CEDA30;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 37px;
}

.logo-link{
    padding-right: 100px;
}
.site-logo-img {
    width: 79px;
    height: 79px;
}

.site-nav {
}

.nav-list {
    min-width: 443px;
    display: flex;
    justify-content: space-between;
}

.nav-list-item-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #150101;
    opacity: 0.6;
}

.nav-list-item-link:hover {
    font-weight: bold;
    opacity: 0.6;
}
.nav-list-item-link:active {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #D23166;
    opacity: 1;
}

button {
    font-family: 'Hind Madurai', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    
    background-color: #D23166;
    padding: 14px 50px;
    border-radius: 5px;
    color: #fafafa;
    border: none;
}
button:hover {
    background-color:#fafafa;
    color: #D23166;
    box-shadow: 0 0 0 2px #D23166;
    margin: 0;
}

/* HERO */

.hero {
    background: #F2CEDA30;
    background-image: url(./../images/bg-image.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 350px) 0;
}

.hero-container {
    padding-top: 159px;
    padding-bottom: 213px;
    margin-bottom: 83px;
}

.sweet-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 6px;
    color: #0F0101;
}

.hero-heading {
    width: 665px;
    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 57.33px;
    line-height: 120.5%; 
    
    color: #0F0101;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}

.hero-text {
    width: 520px;
    font-family: 'Hind Madurai', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    margin-bottom: 50px;
}

/* DELIVERY */

.delivery {
}

.delivery-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    flex-wrap: wrap;
    margin-bottom: 117px;
}

.delivery-item {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0;
    margin: 0;
    margin-left: -25px;
    margin-right: 39px;
}

.delivery-box {
    text-align: center;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 28px;
}

.delivery-box:hover {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}

.delivery-img {
    width: 54px;
    height: 54px;
    margin-top: 27px;
    margin-bottom: 18px;
}

.delivery-box-heading {
    text-transform: capitalize;
    font-family: 'Hind Madurai', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
}

.delivery-box-text {
    width: 198px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    opacity: 0.6;
}


/* OATMEA */

.oatmea {
    background: #F8EDF0;
    background-image: url(./../images/oatmea.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 300px) -80px;
    padding-top: 142px;
    padding-bottom: 146px;
    margin-bottom: 137px;
}

.oatmea-heading {
    width: 350px;
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}
.product-info {
    width: 442px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
    color: #150101;
    
    opacity: 0.6;
    margin-bottom: 20px;
}

.details-button{
    font-weight: 500;
}

/* OUR PRODUCT */
.product {
}
.product-container {
    
}
.product-container-heading {
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    text-align: center;
    text-transform: capitalize;
    line-height: 61px;  
    color: #150101;
}

.product-list {
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 46px;
}

.product-list-item {
    display: inline;
    margin-right: 39px;
    text-transform: uppercase;
}

.product-list-item-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;    
    
    box-shadow: 0 2px 0 1 #000000;
}

.product-list-item-link:hover {
    opacity: 1;
    box-shadow: 0 2px 0 0 #000000;
}


.product-wrapper {
    margin-bottom: 35px;
}

.product-wrapper-item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.product-wrapper .product-wrapper-item:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
}
.product-list-item .product-wrapper-box:nth-child(2n) {
    margin-left: 100px;
}

.product-img {
    width: 580px;
    height: 415px;
    margin-right: 85px;
}
.product-wrapper-box {
}

.pwi-heading {
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;  
    padding: 0;
    margin: 0;
    margin-bottom: 11px;  
}
.product-info {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;    
    opacity: 0.7;
    margin-bottom: 28px;
}

.new-price{
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: 500;
    
    font-size: 26px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.old-price {
    font-size: 20px;
    line-height: 40px;
    text-decoration-line: line-through;
    opacity: 0.7;    
}

/* FEEDBACK */

.feedback {
}
.feedback-container {
    display: flex;
    align-items: center;
    margin-bottom: 149px;
}
.feedback-box {
    margin-right: 224px;
    
    background-image: url(./../images/q-tirnoq1.svg), url(./../images/q-tirnoq2.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 160px) 100px, calc(50% + 160px) 170px;
}

.feedback-owner {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 46px;
}

.adele-img {
    width: 59px;
    height: 58px;
    margin-right: 21px;   
    border-radius: 50%;
}
.user-name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;    
}

.user-state {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.7;
    padding: 0;
    margin: 0;
}

.user-citate {
    width: 322px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    padding: 0;
    margin: 0;
    margin-left: 22px;
    margin-bottom: 36px;
}
.user-scroll {
    max-width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-img {
    border-radius: 50%;
}

.user-img-1 {
    border: 2px solid #D64374;
}

.arrow {
    border: none;
    padding: 0;
    margin: 0;
    background-color: #00000000;
    border-radius: 0;
    
}

/* Simple Way */

.simple-way {
    background: #F8EDF0;
}
.download-menu-container {
    display: flex;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 150px;
}

.download-img {
    margin-right: 135px;
    background: #D64374;
    border-radius: 33px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.25));
}
.download-menu-box {
}

.download-menu-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.download-menu-text {
    width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;   
    color: #0F0101;  
    opacity: 0.7;    
}
.order-instruction {
    margin-bottom: 39px;
}

.icon-img {
    margin-right: 10px;
}
.order-instruction-item {
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 15px;
}

.store {
    margin-left: -15px;
    margin-right: 7px;
}

/* FORM  */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 71px;
}

.download-menu-heading1 {
    text-transform:none;
    width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 36px;
}

.upper-form {
    display: flex;
    margin-bottom: 37px;
}

.wrapper1 {
    margin-right: 30px;
}
.form-style {
    padding: 29px 159px 29px 25px;
    border: 1px solid #FFA3A3;
    box-sizing: border-box;
    border-radius: 5px;
}

.enter-form {
    padding-right: 344px;
}

/* FOOTER */

footer {
    background: #0A0808;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}

.left-footer {
    display: flex;
    justify-content: space-between;
}
.followus-part {
    width: 200px;
    margin-right: 37px;
}

.logo-img {
    margin-top: 70px;
    margin-bottom: 9px;
}

.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;  
    color: #FFFFFF;
    opacity: 0.7;    
    margin-bottom: 16px;
}
.follow-us-on {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;   
    color: #FFFFFF;    
    margin-bottom: 8px;
}
.we-on-snet {
}

.sot-net {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.footer-list {
    margin-top: 143px;
    margin-right: 132px;
    margin-bottom: 104px;
}

.footer-list-item {
    margin-bottom: 10px;
    
}
.footer-list-link {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.7;
}

.footer-list-link:active {
    color: #FFFFFF;
    opacity: 1;
}

.footer-options {
    margin-top: 150px;
}

.newsletter {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 136px;
    margin-bottom: 13px;
}

.footer-form {
    padding: 20px 59px 19px 32px;
    background-color: #FFFFFF00;
    opacity: 0.5;
    border: 2px solid #D64374;
    box-sizing: border-box;
    border-radius: 5px; 
}

.lower-form {
    margin-bottom: 15px;
}

.subscribe-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 16px;
}

.payment-method {
    margin-right: 15px;
}